@media screen and (max-width: 1380px) {
    #main {
        background-image: url("../images/main-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #main-bg {
        display: none;
    }

    #main-border {
        display: none;
    }

    #main #main-icon {
        right: 30px;
        top: 33%;
    }

}

/* 768 - 1023 */
@media screen and (max-width: 1233px) {
    #footer-container > * {
        margin-left: 20px;
        margin-right: 20px;
    }

    #says .clients {
        width: 1131px;
        justify-content: space-between;
        margin: 0 auto;
    }

    #says .client {
        margin-right: 0;
    }

    #scroll {
        overflow: scroll;
    }

    #says {
        padding-left: 0;
        padding-right: 0;
    }

    #says .layer.f {
        padding-left: 20px;
        padding-right: 20px;
    }

    #says .client:last-child {
        margin-right: 0;
    }

    .product-content .product, .product .one, .product .five {
        column-gap: 20px;
        row-gap: 20px;
    }


    .product .four {
        width: 311px;
        height: 484px;
    }

    .product .three {
        width: 300px;
        height: 148px;
    }

    .product .one .duke, .product .one .lazur, .product .three {
        width: 300px;
        height: 148px;
    }

    .product .five .proteya, .product .five .carlon {
        width: 250px;
        height: 233px;
    }

    .product-content .product {
        justify-content: center;
    }


    #products #products-title-item {
        margin: 40px auto 48px auto;
    }

    #products .title {
        display: flex;
        justify-content: center;
    }

    .slick-next.slick-arrow, .slick-prev.slick-arrow {
        top: 558px;
    }

    #all .product #five {
        row-gap: 42px;
    }

    .advantage-item-image img {
        width: 500px;
    }

    #advantage .advantage-item-image #blue {
        width: 368px;
        height: 243px;
        top: -18px;
        right: -13px;
    }

    #footer-num {
        width: 305px;
    }

}

/* 1138 - 1229 */
@media screen and (max-width: 1229px) {
    .logo a {
        margin-right: 0;
    }

    #advantage {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header #menu .menu-item:last-child {
        padding-right: 0;
    }

    .header #menu {
        margin-right: 0;
    }


    #advantage .advantage-item-image .blue:last-child {
        top: 20px;
        right: 280px;
    }

    #advantage .advantage-item-image .blue {
        top: -28px;
        right: -25px;
        width: 50%;
    }

    .header {
        justify-content: space-between;
    }

    .header, #main #main-container, #about, #products, .useful, #footer-container, #form {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    #footer-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #says {
        width: auto;
    }

    #advantage {
        width: 890px;
        padding-top: 100px;
    }

    #form-content #forma .more-action, #form-content #forma .input-text, #form-content #forma .more-action, #form-content #text-area {
        width: 100%;
    }

    #form-content #forma .more-action {
        box-sizing: border-box;
    }

    #form-content #forma #action-check {
        padding: 15px;
    }

    #form-content #forma, #form-content, #form-content #forma #action-check {
        width: 385px;
    }

    #form-content #action-check label {
        font-size: 14px;
        margin-right: 7px;
    }

    #form-content #forma .more-action img {
        margin-left: 64px;
    }

    #form .more-action span {
        margin-left: 0px;
    }

    #form {
        justify-content: center;
        position: relative;
    }

    #form #form-img {
        position: absolute;
        top: -15px;
        left: -260px;
        z-index: -1;
        width: 50%;
    }

    #form #form-img img {
        width: 100%;
    }

    #products #line {
        position: relative;
        left: 43%;
        bottom: 28px;
    }

    #advantage .advantage-item-image .blue {
        height: 250px;
    }

    .blue:last-child {
        top: 23px;
        right: 280px;
    }

    #about #about-bg {
        left: 66%;
    }

    #about #about-text {
        width: 640px;
    }
}


/* 768 - 1023 */
@media screen and (max-width: 1080px) {

    .useful-content .useful-item-text .text-bold {
        margin-bottom: 34px;
    }

    .slick-prev.slick-arrow {
        left: 215px;
    }

    .slick-next.slick-arrow {
        right: 215px;
    }

    #says .clients {
        margin: 0px;
        margin-left: 15px;
    }


    #about #about-images {
        justify-content: space-between;
    }

    #about #about-images .about-image {
        margin-right: 0;
    }

    #about #about-text {
        width: 500px;
    }

    #form-content #forma .more-action {
        background: white;
    }

    #all .products-numbers .number.slick-slide.slick-current.slick-center {
        font-size: 33px;
    }

    #all .products-numbers .number, #all .products-numbers .number .slick-slide {
        font-size: 22px;
    }

    #all .products-numbers .number, #all .products-numbers .number .slick-slid {
        margin-right: 10px;
    }

    #products #line {
        left: 42%;
        width: 118px;
    }

    #footer-container .col #footer-num span:last-child {
        margin-right: 0;
    }

    #about #about-bg {
        left: 60%;
    }
}

/* 425 - 767 */
@media screen and (max-width: 1000px) {
    #footer-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .useful-content .useful-item-text .text-bold {
        margin-bottom: 18px;
    }

    .useful-content .useful-item-img img {
        width: 486px;
        height: 300px;
    }

    .useful-content .useful-item-text {
        margin-top: 0;
        padding: 30px;
    }

    #advantage .advantage-item-image .blue {
        width: 50%;
        height: 100%;
        top: -28px;
        right: -4%;
    }

    #advantage .advantage-item-image .blue:last-child {
        top: 13px;
        right: 54%;
    }
}

@media screen and (max-width: 971px) {
    #about #about-images .about-image {
        width: 400px;
    }

    #about #about-images .about-image img {
        width: 100%;
    }

    .product .five .proteya, .product .five .carlon {
        width: 201px;
        height: 189px;
    }

    .product .one .duke, .product .one .lazur, .product .three {
        width: 250px;
        height: 120px;
    }

    .product .four {
        width: 260px;
        height: 400px;
    }

    .slick-next.slick-arrow, .slick-prev.slick-arrow {
        top: 472px;
    }

    .hover {
        font-size: 19px;
    }

    .useful-item-text .content-text {
        height: 132px;
    }

    .useful-content .useful-item-text {
        padding: 21px;
    }
}

@media screen and (max-width: 930px) {
    #advantage .advantage-item-image {
        display: none;
    }

    #advantage {
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    #advantage .advantage-item {
        justify-content: center;
    }

    #advantage .title {
        text-align: center;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        font-size: 251px;
        color: #f3e8ce;
        top: -76px;
        left: -127px;
    }

    .advantage-item-image img {
        width: 400px;
    }
}

@media screen and (max-width: 924px) {
    #advantage .advantage-item-image .blue {
        top: -25px;
    }
}

@media screen and (max-width: 920px) {
    .slick-prev.slick-arrow {
        left: 210px;
    }

    .slick-next.slick-arrow {
        right: 225px;
    }

    .header #menu .menu-item {
        padding-right: 25px;
    }
}

@media screen and (max-width: 906px) {
    #about #about-images .about-image {
        width: 400px;
    }

    #about #about-images .about-image img {
        width: 100%;
    }

    .useful-content .useful-item-text {
        padding: 20px;
    }

    .useful-content .useful-item-text .text-bold {
        margin-bottom: 14px;
    }

    #about #about-images .about-image #images-text {
        font-size: 22px;
        left: 5%;
        width: 90%;
    }


    .slick-prev.slick-arrow {
        left: 190px;
    }

    .slick-next.slick-arrow {
        right: 204px;
    }

    .useful .content-text {
        font-size: 14px;
    }

    .useful .text-bold {
        font-size: 22px;
    }

    .advantage-item-image img {
        width: 450px;
    }

    #advantage .advantage-item-image #blue {
        top: -21px;
        right: -19px;
    }
}

/* 425 - 767 */


@media screen and (max-width: 900px) {
    .useful-content .useful-item {
        flex-direction: column;
        width: 488px;
    }


    #form #form-img {
        display: none;
    }

    .useful-content .useful-item-text {
        padding: 45px;
    }

    .useful-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .useful-content .useful-item #border {
        display: none;
    }

    .useful .title {
        display: flex;
        justify-content: center;
    }

    .header #menu .menu-item {
        padding-right: 24px;
    }

    #about #about-images .about-image:first-child {
        display: none;
    }

    #says .layer.f {
        display: block;
    }

    #says .layer.f .more-t {
        display: flex;
        justify-content: end;
    }

    #says .more-t {
        margin-top: 20px;
    }

    #says .title {
        text-align: center;
    }


    .slick-next.slick-arrow {
        right: 106px;
    }

    .slick-prev.slick-arrow {
        left: 106px;
    }

    #about #about-text {
        width: 462px;
    }
    #about #about-bg {
        left: 56%;
    }
}

@media screen and (max-width: 826px) {
    #about #about-bg {
        position: absolute;
        top: 72%;
        left: 46%;
        width: 242px;
    }

    #about #about-bg img {
        width: 100%;
    }

    #about .blue {
        display: block;
    }

    #about {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px 20px 450px 20px;
        width: 680px;
    }

    #about #about-text {
        width: 408px;
        text-align: center;
    }

    #advantage {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about .content-text:last-child {
        display: none;
    }

    #about .content-text.s {
        display: block;
        width: 408px;
        text-align: center;
    }

    #about #about-images {
        position: relative;
    }

    #about #about-images .about-image:first-child {
        display: block;
        position: absolute;
        top: 254%;
        left: 7%;
        width: 271px;
    }

    #advantage {
        padding-top: 190px;
        width: auto;
    }

    #about .blue {
        width: 268px;
        height: 209px;
        top: 232%;
        right: 9%;
    }

    #advantage .title {
        text-align: center;
    }

    #advantage .advantage-item-image {
        display: none;
    }

    #advantage .advantage-item {
        justify-content: center;
    }

    #advantage .advantage-item .text-item {
        margin: 73px 0 0 0;
        text-align: center;
    }


    #all .product {
        align-self: start;
    }

    .header #burger {
        display: block;
    }

    .header #menu {
        display: none;
    }

    .header #burger-menu {
        display: none;
    }

    .header #border-menu {
        display: none;
    }

    .header #burger-menu.active #border-menu {
        border-width: 2px;
        border-color: rgb(218, 148, 4);
        border-style: solid;
        padding: 40px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header #burger-menu.active {
        position: absolute;
        top: 90px;
        box-sizing: border-box;
        left: 0;
        background: white;
        width: 100%;
        display: flex;
        z-index: 500;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .header #burger-menu.active .menu-item:first-child {
        padding-top: 0;
    }

    .header #burger svg, #close-block svg {
        width: 50px;
        height: 50px;
    }

    .header #burger-menu.active .menu-item {
        font-size: 16px;
        font-family: "Gilroy-Regular", sans-serif;
        color: rgb(22, 19, 38);
        text-decoration: none;
        padding-top: 25px;
    }

    .header #burger-menu.active #header-icon img {
        width: 30px;
        height: 30px;
    }

    .header #burger-menu.active #header-icon a {
        margin-right: 30px;
    }

    .header #burger-menu.active #header-icon a:last-child {
        margin-right: 0;
    }

    .header #burger-menu.active #header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        position: relative
    }

    .header #menu svg {
        top: -33%;
        right: -4%;
    }

    .header #menu .menu-item, .header #menu .menu-item:last-child {
        padding: 15px;
    }

    .header #header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main #main-icon {
        display: none;
    }

    #close-block {
        right: 20px;
        position: absolute;
        top: 25px;
        height: 50px;
        width: 50px;
        background: white;
        z-index: 50;
        justify-content: center;
        align-items: center;
    }

    .header #header-icon {
        margin-top: 25px;
    }

    .header #header-icon svg {
        position: relative;
        top: 0;
        left: 0;
    }

    .header #header-icon .icon-item:last-child {
        margin-right: 0;
    }

    .header #header-icon .icon-item {
        margin-top: 0;
    }

    #main-container #main-content {
        margin: 0 auto;
        text-align: center;
    }

    #main-container #main-content .action {
        margin: 30px auto 0 auto;
    }

    .product .one .duke, .product .one .lazur {
        width: 250px;
        height: 122px;
    }

    .product .three {
        width: 150px;
        height: 105px;
    }

    .product .five .proteya, .product .five .carlon {
        width: 115px;
        height: 105px;
    }

    .product .five {
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
    }

    .product .five .proteya {
        grid-column: 2/3;
    }

    .product .three {
        grid-column: 2/3;
    }

    .product .four {
        width: 150px;
        height: 264px;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .slick-next.slick-arrow, .slick-prev.slick-arrow {
        top: 460px;
    }
}

/* 425 - 767 */
@media screen and (max-width: 785px) {


    .header #burger svg {
        display: block;
        width: 50px;
        height: 50px;
    }

    #all .product #one img {
        max-width: 310px;
    }


    #all .product #one img {
        width: 321px;
    }

    #all .product #three {
        height: 120px;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #all .product #three, #all .product #four {
        width: 185px;
    }

    #all .product #four {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #all .product #five {
        grid-column-gap: 20px;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #all .product #five img {
        width: 150px;
    }

    #all .product #five img:last-child {
        grid-column: 2/3;
    }

    #all .product {
        row-gap: 18px;
    }


    #products #products-title-item {
        width: auto;
    }

    #products #line {
        display: none;
    }

    #all .products-numbers .number.b.slick-slide {
        margin-right: 10px;
    }

    #main-container #main-content .action {
        margin: 30px auto;
    }

    #main-container #main-content {
        text-align: center;
        margin: 0 auto;
    }

    #about {
        width: auto;
    }

    #about .blue {
        height: 190px;
        right: 10%;
    }

    #about #about-images .about-image:first-child {
        left: 7%;
        width: 271px;
    }

    #advantage {
        padding-top: 170px;
    }

    #advantage .advantage-item .text-item {
        text-align: center;
    }

    #all .product #three img {
        width: 100%;
        height: 100%;
    }

    #main-container #main-content {
        opacity: 0.9;
    }


    #thanks {
        position: relative;
        top: 0;
        left: 0;
    }

    .hover {
        font-size: 16px;
        text-align: center;
    }


}

@media screen and (max-width: 700px) {
    #footer-container {
        flex-direction: column;
        text-align: center;
    }

    #footer-container > * {
        margin: 20px auto;
    }

}

@media screen and (max-width: 657px) {
    #products .product-content .product.slick-slide.slick-current.slick-active {
        justify-content: start;
        margin-left: 8px;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        font-size: 251px;
        color: #f3e8ce;
        top: -65px;
        left: 282px;
        z-index: -1;
    }


    #products .slick-next.slick-arrow, #products .slick-prev.slick-arrow {
        display: none !important;
    }

    #products .product-content .product.slick-slide {
        display: none;
    }

    #products .product-content .product.slick-slide.slick-current.slick-active {
        display: grid;
    }


    #products .products-numbers {
        display: none;
    }


    #products #products-title-item {
        justify-content: space-around;
        margin: 20px auto 48px auto;
    }

    #says .more-action {
        display: none;
    }

    #says .client .more-t {
        display: block;
        text-align: center;
        left: 0;
    }

    #says .client.hide .more-t {
        display: block;
        text-align: center;
        left: 0;
    }

    .close-button {
        display: none;
    }

    #says .client.hide {
        display: block;
        margin-top: 0;
    }

    #says .client {
        margin-right: 20px;
    }

    #says .client:last-child {
        margin-right: 20px;
    }

    #says .clients {
        justify-content: start;
        flex-wrap: nowrap;
        width: 2260px;
    }

    #hover {
        font-size: 17px;
    }

    #products #products-title-item .product-title, #products #products-title-item .product-title.active {
        margin-right: 20px;
        margin-top: 20px;
    }

    #products #line {
        display: none;
    }

    #all .products-numbers .number.b.slick-slide {
        margin-right: 10px;
    }

    #all .product #five {
        grid-column-gap: 9px;
    }

    #all .product #one img {
        width: 250px;
    }

    #all .product #three, #all .product #four {
        width: 150px;
    }

    #all .product #five {
        grid-column-gap: 11px;
    }

    #all .product #five img {
        width: 124px;
    }

    .slick-next.slick-arrow, .slick-prev.slick-arrow {
        top: 463px
    }

    #all .product #three {
        height: 99px;
    }

    #all .products-numbers .number, #all .products-numbers .number .slick-slide {
        font-size: 19px;
        width: 20px !important;
    }

    #all .products-numbers .number.slick-slide.slick-current.slick-center {
        font-size: 28px;
        top: -7px;
    }

    .useful-item.slick-slide.slick-current.slick-active {
        width: 100%;
        box-sizing: border-box;
    }


    #products-container {
        width: 610px;
        box-sizing: border-box;
        position: relative;
        z-index: 998;
    }

    .product-content.slick-initialized.slick-slider {
        z-index: -1;
    }

    #products {
        overflow: scroll;
    }

    #products #products-title-item .product-title, #products #products-title-item .product-title.active {
        margin: 0;
    }

    #products .slick-slider .slick-track, #products .slick-slider .slick-list {
        position: relative;
        z-index: -1;
    }

    #scroll {
        z-index: 500;
        position: relative;
        overflow: scroll;
    }

    #scroll > * {
        width: 610px;
        box-sizing: border-box;
    }

    #says .layer {
        flex-direction: column;
        text-align: center;
    }

    #says .layer .row {
        width: auto;
        margin-left: 0;
        margin-top: 10px;
    }

    .layer .row .data {
        display: none;
    }

    .useful-content .useful-item-text {
        height: 190px;
    }

    #products, .useful, #form {
        padding: 40px 0 40px 0;
    }
    .close-button {
        left: 25%;
    }

}

@media screen and (max-width: 547px) {
    .useful-content .useful-item {
        width: 100%;
        box-sizing: border-box;
    }

    .useful-content .useful-item-img {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .useful-content .useful-item-img img {
        width: 100%;

    }

    #says .layer {
        flex-direction: column;
        text-align: center;
    }

    #advantage .title {
        margin-bottom: 0;
    }

    #says .content-text.s {
        font-size: 15px;
        width: 193px;
    }

    #advantage .advantage-item .text-item {
        margin: 35px 0 0 0;
    }

    #advantage {
        padding-top: 150px;
    }

    #products {
        padding: 40px 20px 0 20px;
    }

    .useful .title {
        margin-bottom: 35px;
    }

    #form-content #forma #action-check {
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 167px;
    }

    #form {
        justify-content: center;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }

    #form-content .content-text {
        margin: 30px auto;
        width: 100%;
    }

    #form-content #action-check label {
        margin-right: 0;
    }

    #footer-container .col #footer-num {
        margin: 0 auto;
    }

    #says {
        padding-top: 85px;
    }

    #hide {
        display: none;
    }

    #about {
        padding: 85px 20px 450px 20px;
    }

    #says .client.active .content-text.s {
        height: 512px;
    }

    #says .clients {
        margin-left: 0;
        justify-content: start;
    }

    #says .layer .row {
        width: 182px;
    }

    #footer-img {
        justify-content: center;
    }

    .slick-prev.slick-arrow {
        left: 65px;
    }

    #main-container #main-content {
        width: 100%;
        box-sizing: border-box;
    }

    #footer-container .col #follow-input {
        display: block;
        width: 100%;
        margin: 10px auto;
    }

    #footer-container .col #follow-input .action.b {
        width: 100%;
        margin-top: 15px;
    }

    #footer-container .col #footer-num span {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Gilroy-Semibold, sans-serif;
    }

    #footer-container .col #daily {
        flex-wrap: wrap;
        width: 104px;
        margin: 20px auto;
    }


    #footer-container .col #daily span {
        font-family: Gilroy-Regular, sans-serif;
    }

    #footer-container .col #footer-num span {
        margin-right: 0;
        margin-top: 5px;
    }

    #footer-num {
        width: auto;
    }

    #footer-container .col {
        margin-top: 20px;
    }

    #footer-container {
        display: block;
        text-align: center;
    }

    #footer-container .col:first-child {
        margin-top: 0;
    }

    .slick-next.slick-arrow {
        right: 75px;
    }

    #footer-container .col #follow-input input {
        width: 100%;
        box-sizing: border-box;
    }

    .logo, .logo a, .header #number {
        font-size: 24px;
    }

    #main-container #main-content .main-text {
        font-size: 30px;
    }

    .title {
        font-size: 24px;
    }

    .text-bold, #about #about-images .about-image #images-text {
        font-size: 20px;
    }

    #about #about-images .about-image #images-text {
        text-align: center;
    }

    .header #burger svg, .header #menu svg, #close-block svg {
        width: 30px;
        height: 30px;
    }

    .header #burger-menu.active {
        top: 55px;
    }

    #close-block {
        right: 10px;
        top: 15px;
    }

    .header #menu svg {
        top: -27%;
        right: -7%
    }

    #burger-menu {
        top: 69px;
    }

    #form-content, #form-content #text-area, #form-content #forma, #form-content #forma .input-text, #form-content #forma .action.b, #form-content #forma .more-action {
        width: 100%;
        box-sizing: border-box;
    }

    #form-content #forma .more-action {
        font-size: 15px;
    }


    #form-content {
        text-align: center;
    }

    .action {
        font-size: 18px;
    }

    #says .layer.f {
        margin-bottom: 30px;
    }

    #says .clients {
        width: 1710px;
    }
    .close-button {
        left: 15%;
    }
}

@media screen and (max-width: 499px) {
    .useful-content .useful-item {
        width: 100%;
        box-sizing: border-box;
    }

    .useful {
        padding: 85px 20px 85px 20px;
    }

    .useful-content.s.slick-initialized.slick-slider .slick-slider .slick-track {
        height: 555px;
    }

    #main #main-icon {
        right: 30px;
        display: none;
    }

    #useful-container-numbers {
        width: 160px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        top: -30px;
    }


    #main-container #main-content {
        background-color: #94b5c2;
        padding: 53px 59px;
        text-align: center;
        margin: 0 auto;
    }

    #useful-container-numbers .slick-slider .slick-track, .slick-slider .slick-list {
        transform: none !important;
    }


    #hover {
        font-size: 10px;
    }

    .content-text, #says .more-t, #products #products-title-item .product-title.active {
        font-size: 15px;
    }

    #says .more-t {
        margin-top: 35px;
    }

    .useful {
        display: none;
    }

    .useful.s {
        display: block;
    }

    .useful-content.s .slick-initialized.slick-slider {
        display: block;
    }


    .useful .slick-prev, .useful .slick-next {
        z-index: 500;
        top: 97%;
    }

    .useful .slick-prev.slick-arrow {
        left: 137px;
    }

    .useful .slick-next.slick-arrow {
        right: 137px;
    }

    .useful-content.slick-slider {
        display: block;
    }

    .useful-content .useful-item-img {
        width: 100%;
        height: 250px;
        box-sizing: border-box;
    }

    .useful-content .useful-item-img img {
        width: 100%;

    }

    .useful-content .useful-item-img img {
        height: 100%;
    }

}

@media screen and (max-width: 464px) {
    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 271px;
    }

}

@media screen and (max-width: 450px) {
    #about #about-bg {
        left: 39%;
    }

    #about #about-images .about-image {
        width: 100%;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        margin-right: 0;
        left: 260px;
    }

    #about #about-images .about-image:first-child {
        left: -4%;
        width: 271px;
    }

    #about .blue {
        top: 240%;
        right: 12%;
    }
}



/* 320 - 374 */
@media screen and (max-width: 430px) {
    .useful-content .useful-item-text {
        height: 207px;
    }
}
@media screen and (max-width: 425px) {
    .useful-content .useful-item-text {
        height: 208px;
    }

    .useful .title {
        text-align: center;
    }

    #about #about-images .about-image #images-text {
        font-size: 20px;
        left: 20px;
        top: 20%;
    }

    .logo, .logo a, .header #number {
        font-size: 20px;
    }


    .useful .slick-prev.slick-arrow {
        left: 134px;
    }

    .useful .slick-next.slick-arrow {
        right: 124px;
    }

    .client-img img {
        width: 80px;
        height: 80px;
    }

    #says .content-text.s {
        width: 180px;
        box-sizing: border-box;
    }

    #about #about-text, #about #about-images .about-image, #about .content-text.s, #advantage .advantage-item .text-item {
        width: 100%;
        box-sizing: border-box;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        z-index: -1;
        font-size: 319px;
        top: -133px;
    }

    .slick-slide img {
        display: inline;
    }


    .useful-content .useful-item {
        margin-bottom: 0;
    }

    .useful .slick-next.slick-arrow {
        right: 105px;
    }

    .useful .slick-prev.slick-arrow {
        left: 117px;
    }

    .useful .title {
        margin-bottom: 30px;
    }

    #main-container #main-content {
        padding: 34px;
    }

    #form-content #forma .more-action img {
        margin-left: 23px;
    }

    .useful-content .useful-item-img {
        height: 200px;
    }

    .useful-content .useful-item-img img {
        height: 100%;
    }

    #useful-container-numbers {
        top: 7px;
    }

    .useful .slick-prev, .useful .slick-next {
        top: 103%;
    }

    .useful-content.slick-slider {
        margin-bottom: 30px;
    }

    .useful .slick-prev, .useful .slick-next {
        top: 109%;
    }

    #says .clients {
        width: 1635px;
    }
    #says .client.active .content-text.s {
        height: 577px;
    }
}


/* 320 - 374 */
@media screen and (max-width: 410px) {
    #about #about-images .about-image #images-text {
        width: 90%;
        box-sizing: border-box;
        left: 15px;
    }

    #about #about-images .about-image:first-child {
        left: 0%;
        width: 271px;
        top: 269%;
    }

    #about .blue {
        right: 3%;
    }

    .useful-content .useful-item-text {
        height: 256px;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 240px;
    }
}

@media screen and (max-width: 390px) {
    .useful-content .useful-item-text {
        height: 270px;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 225px;
    }

    #about #about-bg {
        left: 35%;
    }
}

@media screen and (max-width: 374px) {
    #about #about-images .about-image:last-child img {
        width: 100%;
        height: 100%;
    }

    #about #about-images .about-image #images-text {
        width: 88%;
    }

    #about #about-images .about-image #images-text {
        top: 13%;
    }

    #about #about-images .about-image:first-child {
        left: -8%;
        width: 271px;
        top: 248%;
    }

    #about .blue {
        right: -4%;
    }

    #says .client {
        margin-left: 0;
    }

    #says .layer .row {
        width: auto;
    }


    .slick-prev.slick-arrow {
        left: 30px;
    }

    .slick-next.slick-arrow {
        right: 25px;
    }

    .useful .slick-next.slick-arrow {
        right: 80px;
    }

    .useful .slick-prev.slick-arrow {
        left: 90px;
    }


    #main-container #main-content {
        width: 100%;
        box-sizing: border-box;
    }

    #about #about-images .about-image-text {
        height: 267px;
    }

    .about-image #last {
        height: 100%;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 200px;
    }

    #about #about-bg {
        left: 32%;
    }

    #about .blue {
        right: 8%;
        top: 226%;
    }

    #products .product-content .product.slick-slide.slick-current.slick-active {
        justify-content: start;
    }

    .useful-content .useful-item-text {
        height: 285px;
    }
}

@media screen and (max-width: 356px) {
    #about #about-bg {
        left: 27%;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 185px;
    }
}

@media screen and (max-width: 340px) {
    .useful-content .useful-item-text {
        height: 295px;
    }

    #useful-container-numbers {
        top: 10px;
    }

    #about .blue {
        top: 234%;
    }

    .useful-item-text .content-text {
        height: auto;
    }

    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 170px;
    }

    #about #about-bg {
        left: 25%;
    }
}

@media screen and (max-width: 325px) {
    #advantage .advantage-item .text-item .text-bold .number-text-item {
        left: 165px;
    }

    #about #about-bg {
        left: 24%;
    }

    #about .blue {
        top: 232%;
        right: 3%;
    }
    #main-container #main-content .action{
        width: 133px;
        font-size: 17px;
    }
    .useful-content .useful-item-text {
        height: 310px;
    }

}


