@font-face {
    src: url("../fonts/Cormorant-Bold.ttf") format("truetype");
    font-family: Cormorant-Bold;
}

@font-face {
    src: url("../fonts/Cormorant-Medium.ttf") format("truetype");
    font-family: Cormorant-Medium;
}

@font-face {
    src: url("../fonts/Cormorant-Regular.ttf") format("truetype");
    font-family: Cormorant-Regular;
}

@font-face {
    src: url("../fonts/gilroy-regular.ttf") format("truetype");
    font-family: Gilroy-Regular;
}

@font-face {
    src: url("../fonts/Gilroy-Semibold.ttf") format("truetype");
    font-family: Gilroy-Semibold;
}

@font-face {
    src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-family: Gilroy-Bold;
}

@font-face {
    src: url("../fonts/Cormorant-MediumItalic.ttf") format("truetype");
    font-family: Cormorant-MediumItalic;
}

@font-face {
    src: url("../fonts/Cormorant-Italic.ttf") format("truetype");
    font-family: Cormorant-Italic;
}

body {
    margin: 0;
    background: #ffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-top: 25px;
    padding-bottom: 31px;
    margin: 0 auto;
}


.logo, .logo a {
    font-size: 30px;
    font-family: "Cormorant-Medium", sans-serif;
    color: rgb(22, 19, 38);
    text-decoration: none;
}

.logo a {
    margin-right: 245px;
}

.header #menu {
    display: flex;
    align-items: center;
    margin-right: 180px;
}

.header #menu .menu-item {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
    text-decoration: none;
    padding-right: 40px;
}

.header #menu a.menu-item:last-child {
    padding-right: 0;
}

.useful-content .useful-item .more-t {
    display: flex;
    align-items: center;
}

.header #number {
    font-size: 30px;
    font-family: "Cormorant-Regular", sans-serif;
    color: rgb(203, 149, 17);
}

#main {
    background: #ffff;
    overflow: hidden
}

#main-bg {
    z-index: 2;
    height: auto;
    position: absolute;
    width: 1376px;
    top: -4px;
    left: 180px;
}

#main-bg img {
    width: 100%;
    height: 100%;
}

#main #main-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 130px 0;
}

#main-container #main-border {
    border-width: 10px;
    border-color: rgb(218, 148, 4);
    border-style: solid;
    position: absolute;
    padding: 80px;
    box-sizing: border-box;
    width: 800px;
    left: -90px;
    top: 45px;
    height: 613px;
    z-index: 1;
}

#main-container #main-content {
    background-color: #94b5c2;
    padding: 53px 59px;
    width: 360px;
    z-index: 18;
    position: relative;
}

#main-container #main-content .main-text {
    font-size: 55px;
    font-family: Cormorant-Medium, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    line-height: 1;
}

#main-container #main-content .content-text {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 28px;

}

#main-container #main-content .content-text span {
    font-family: Gilroy-Bold, sans-serif;
}

.action.b {
    background-color: rgb(255, 174, 0);
    padding: 13px 37px;
    font-size: 20px;
    font-family: "Gilroy-Semibold", sans-serif;
    color: rgb(255, 255, 255);
    outline: none;
    border: 0;
}

#main-container #main-content .action {
    margin-top: 30px;
    width: 158px;
}

.action, #footer-container .col #follow-input .action.b {
    cursor: pointer;
}

.action:hover, #footer-container .col #follow-input .action.b:hover {
    opacity: 0.9;
}

.action:active, #footer-container .col #follow-input .action.b:active {
    background-color: rgb(206 146 16);
}

#main-icon {
    position: absolute;
    top: 272px;
    right: -139px;
    display: flex;
    flex-direction: column;
    z-index: 50;
}

#main-icon .icon-item {
    margin-bottom: 15px;
}

#main-icon .icon-item svg {
    width: 35px;
    height: 35px;
}

#main-icon .icon-item svg:hover {
    opacity: 90%;
}

#about {
    width: 1200px;
    margin: 0 auto;
    padding: 190px 0 150px;
    box-sizing: border-box;
    position: relative;
}


#about #about-text {
    width: 711px;
}

.title {
    font-size: 36px;
    font-family: "Cormorant-Medium", sans-serif;
    color: rgb(203, 149, 17);
}

.text-bold {
    font-size: 24px;
    font-family: "Cormorant-Bold", sans-serif;
    color: rgb(22, 19, 38);
}

.content-text {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
    line-height: 1.375;
}

#about .text-bold {
    margin-top: 20px;
}

#about .content-text {
    color: rgb(22, 19, 38);
    margin-top: 24px;
}

#about #about-images {
    display: flex;
    align-items: center;
    padding-top: 70px;
}

#about #about-images .about-image {
    margin-right: 60px;
    position: relative;
}

#about #about-images .about-image:last-child {
    margin-right: 0;
}

#about #about-images .about-image #images-text {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    font-family: "Cormorant-MediumItalic", sans-serif;
    color: rgb(255, 255, 255);
    top: 19%;
    left: 9%;
    width: 368px;
    line-height: 1.167;
}

#about #about-bg {
    position: absolute;
    top: 17%;
    left: 70%;
}

#advantage {
    width: 1200px;
    margin: 0 auto;
}

#advantage .advantage-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 60px 0px;
}

#advantage .advantage-item .text-item {
    margin-left: 50px;
    width: 312px;
}

#advantage .advantage-item .text-item .text-bold {
    position: relative;
    margin-bottom: 19px;
}

#advantage .advantage-item .text-item .text-bold .number-text-item {
    font-size: 80px;
    font-family: "Cormorant-Italic", sans-serif;
    color: rgb(209, 163, 60);
    margin-right: 30px;
    position: absolute;
    top: -41px;
    left: -50px;
}

#advantage .advantage-item-image {
    position: relative;
    z-index: 2;
}

#advantage .advantage-item-image .blue {
    background-color: rgb(153, 178, 191);
    opacity: 0.741;
    position: absolute;
    width: 394px;
    height: 296px;
    z-index: -1;
    top: -30px;
    right: -35px;
}

#about .blue {
    background-color: rgb(153, 178, 191);
    opacity: 0.741;
    position: absolute;
    width: 394px;
    height: 296px;
    z-index: -1;
    top: -30px;
    right: -30px;
    display: none;
}

#products {
    width: 1200px;
    margin: 0 auto;
    padding: 160px 0 160px 0;
    position: relative;
}


#products #products-title-item {
    margin: 40px 0 48px 0;
    width: 745px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#products #products-title-item .product-title.active {
    margin: 0;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(119, 159, 175);
    font-size: 16px;
    font-family: "Gilroy Medium", sans-serif;
    color: rgb(119, 159, 175);
}

#products #products-title-item .product-title {
    font-size: 16px;
    font-family: "Gilroy Medium", sans-serif;
    color: rgb(22, 19, 38);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}


.products-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    /*    margin-top: 60px;*/
}

.product-content .product {
    display: grid;
    align-items: center;
    font-size: 0;
    grid-row-gap: 60px;
    grid-column-gap: 55px;
}

.product .three:hover .hover, .product .one .duke:hover .hover, .product .one .lazur:hover .hover, .product .four:hover .hover, .product .five .carlon:hover .hover, .product .five .proteya:hover .hover {
    display: flex;
}

.hover {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #536369;
    opacity: 0.9;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: Cormorant-MediumItalic, sans-serif;
    box-sizing: border-box;
}

.product .four {
    grid-column: 2/3;
    grid-row: 1/4;
}


.product .four {
    width: 360px;
    height: 636px;
    position: relative;
}


.product .one .duke, .product .one .lazur, .product .three {
    width: 360px;
    height: 172px;
    position: relative;
}

.product .one .duke img, .product .one .lazur img, .product .three img, .product .four img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.product .five .proteya, .product .five .carlon {
    width: 360px;
    height: 288px;
    position: relative;
}

.product .five .proteya img, .product .five .carlon img {
    width: 100%;
    height: 100%;
}

.product .one {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    row-gap: 60px;
}


.product .three {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
}

.product .five {
    grid-column: 3/4;
    grid-row: 1/4;
    grid-row-gap: 60px;
    display: grid;
}


.products-numbers .number, .products-numbers .number .slick-slide {
    margin-right: 15px;
    font-size: 22px;
    font-family: "Cormorant-Regular", sans-serif;
    justify-content: center !important;
    color: rgb(148, 181, 194);
    width: 30px !important;
    height: 43px !important;
}

.products-numbers .number.slick-slide.slick-current.slick-center {
    font-size: 36px;
    font-family: "Cormorant-Bold", sans-serif;
    color: rgb(112, 147, 160);
    position: relative;
    top: -10px;
}

#all .products-numbers .number.b.slick-slide {
    margin-right: 160px;
}

#products #line {
    height: 1px;
    width: 140px;
    background: rgb(112, 147, 160);
    position: absolute;
    left: 525px;
    bottom: 186px;
}

#all .products-numbers .number:last-child {
    margin-right: 0px;
}

.slick-prev:before {
    content: url("../images/arrowleft.png");
    display: block;
}

.slick-next:before {
    content: url("../images/arrowright.png");
    display: block;
}

.slick-prev {
    left: 288px;
    top: 710px;
    z-index: 50;
}

.slick-next {
    right: 288px;
    top: 710px;
    z-index: 50;
}

#products .slick-slider .slick-track, #products .slick-slider .slick-list {
    transform: none !important;
    display: flex;
    align-items: center;
    width: auto !important;
}

#img-hov:hover #text-img {
    content: "Кухня Лофт";
    position: absolute;
    background-color: rgb(80, 102, 111);
    opacity: 0.902;
    width: 359px;
    height: 172px;
    z-index: 118;
    bottom: 0;
    left: 1px;
    font-size: 24px;
    font-family: "Cormorant-Italic", sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#says {
    width: 1200px;
    margin: 0 auto;
}

#says .clients {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

#says .client {
    border-width: 1px;
    border-color: rgb(148, 181, 194);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 35px;
}

#says .client.hide {
    margin-top: 30px;
}

#says .client.hide {
    display: none;
}

#says .layer {
    display: flex;
    align-items: center;
    justify-content: start;
}

#says .layer .row {
    width: 132px;
    margin-left: 15px;
}

.layer .row .content-text {
    margin-top: 5px;
}

.layer .row .data {
    font-size: 18px;
    font-family: "Cormorant-Regular", sans-serif;
    color: rgb(148, 181, 194);
    margin-top: 5px;
}

#says .content-text.s {
    margin-top: 20px;
    width: 285px;
    overflow: hidden;
    height: 180px;
    position: relative;
    z-index: 0;
    box-shadow: inset 0px -190px 190px -50px rgba(255, 255, 255, 0.47);
}

#says .client.active .content-text.s .white {
    background-image: none;
}

#says .client.active .content-text.s {
    height: 394px;
    transition-duration: 0.3s;
}

#says .action:active {
    background: none;
}

#says .action:hover {
    cursor: auto;
}

#says .action .more-action:hover, #says .action .more-action.active:hover {
    cursor: pointer;
}

#says .content-text.s .white {
    position: absolute;
    display: block;
    height: 100px;
    width: 285px;
    top: 106px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 70%);
}

#says .layer.f {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.more-t {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(119, 159, 175);
    cursor: pointer;
}

#says .more-action {
    margin: 40px auto 0 auto;
}

.more-t span {
    margin-left: 15px;
    position: relative;
    top: 3px;
}

.client .more-t span img {
    transform: rotate(90deg);
}

.client .close-button span img {
    transform: rotate(270deg);
}

.client .more-t {
    position: relative;
    bottom: -10px;
    left: 27%;
    display: none;
}

.close-button{
    position: relative;
    bottom: -10px;
    left: 15%;
    display: none;
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(119, 159, 175);
    cursor: pointer;
}
.close-button span {
    margin-left: 15px;
    position: relative;
    top: 3px;
}


.more-action {
    border-width: 1px;
    border-color: rgb(148, 181, 194);
    border-style: solid;
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(119, 159, 175);
    padding: 15px 23px;
    background: none;
}

.more-action span {
    margin-left: 42px;
}

.more-action.active img {
    transform: rotate(180deg);
}


.action {
    display: flex;
    justify-content: center;
}

.useful {
    width: 1200px;
    margin: 0 auto;
    padding: 165px 0 150px 0;
}

.useful .title {
    margin-bottom: 65px;
}

.useful-content .useful-item {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: rgb(148, 181, 194);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.useful-content .useful-item.s {
    display: none;
}

.useful-content .useful-item.s.active {
    display: flex;
}

.useful-content .useful-item-text {
    margin-top: -38px;
    padding: 42px 42px 42px 55px;
}

.useful-content .useful-item-text .text-bold {
    margin-bottom: 40px;
}

.useful-content .useful-item .more-t {
    position: absolute;
    bottom: 25px;
    right: 20px;
    cursor: pointer;
}

.useful-content .useful-item-img {
    font-size: 0;
}

.useful-content .useful-item-img img {
    width: 486px;
}

.useful-content .useful-item #border {
    border-width: 10px;
    border-color: rgb(203, 149, 17);
    border-style: solid;
    padding: 175px 50px;
    position: absolute;
    width: 349px;
    height: 250px;
    z-index: -1;
    top: -189px;
    left: -57px;
    border-right: 0;
}

.useful-content .more-action {
    margin-top: 0px;
}

#form {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 155px;
    position: relative;
}

#form-content .title {
    margin-bottom: 25px;
}

#form-content .content-text {
    margin-bottom: 35px;
    width: 426px;
}

#form-content #forma .input-text {
    border-bottom: 1px;
    border-color: rgb(148, 181, 194);
    border-style: solid;
    width: 100%;
    margin-bottom: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    box-sizing: border-box;
}

#form-content #forma .input-text::placeholder {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
}

#form-content #forma .more-action {
    border-width: 1px;
    border-color: rgb(148, 181, 194);
    border-style: solid;
    padding: 10px;
    color: rgba(32, 29, 35, 0.639);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-content #forma .more-action span {
    margin-left: 0;
}


#form-content #forma #action-check {
    display: none;
    border-width: 1px;
    border-color: rgb(148, 181, 194);
    border-style: solid;
    height: 147px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    padding: 9px;
    border-top: none;
    background: white;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}

#form-content #forma #action-check input {
    display: none;
}

#form-content #forma #action-check label {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#form-content #forma #action-check span.text-checkbox {
    border: 1px solid #99b2bf;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    box-sizing: border-box;
    position: absolute;
    margin-left: -20px;
}

#form-content #forma #action-check input:checked + span.text-checkbox::before {
    width: 12px;
    height: 12px;
    background-color: #99b2bf;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*
#form-content #forma #action-check span.block {
    display: inline-flex;
    align-items: center;
    position: relative;
    border: 1px solid #99b2bf;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    box-sizing: border-box;
}

#form-content #forma #action-check span.block::before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #99b2bf;
    opacity: 0;
    box-sizing: border-box;
}

#form-content #forma #action-check input:checked + span.block::before {
    opacity: 1;
}
*/


#form-content #forma .action.b {
    margin-top: 40px;
}


#form-content #action-check label {
    font-size: 18px;
    font-family: "Cormorant-Regular", sans-serif;
    color: rgb(22, 19, 38);
    margin-bottom: 10px;
}

#form-content .check-input label {
    margin-left: 5px;
}


#form-content #text-area {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgba(32, 29, 35, 0.639);
    margin-top: 35px;
    outline: none;
    border-color: #94b5c2;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 145px;
}

#form #form-img {
    position: relative;
    top: 0;
    left: -110px;
}

input {
    outline: none;
}

#footer {
    border-top: 1px solid rgba(148, 181, 194, 0.3);
    padding-top: 55px;
    padding-bottom: 55px;
}

#footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#footer-container .logo {
    margin-bottom: 15px;
}

#footer-container #footer-img svg {
    width: 33px;
    height: 33px;
    fill: rgb(121, 154, 167);
}

#footer-container .col .title {
    position: relative;
    top: -8px;
    margin-bottom: 0;
}

#footer-container .col #item {
    flex-direction: column;
    display: flex;
}

#footer-container .col #item a {
    text-decoration: none;
    color: #161326;
    margin-bottom: 10px;
    font-family: "Gilroy-Regular", sans-serif;
}

#footer-container .col #footer-num span {
    margin-right: 15px;
    font-size: 18px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
}

#footer-container .col #footer-num {
    margin-bottom: 15px;
}

#footer-container .col #daily {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
    margin-bottom: 35px;
}

#footer-container .col #daily span {
    font-family: "Gilroy-Semibold", sans-serif;
}

#footer-container .col #location {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
    line-height: 1.625;
}

#footer-container .col #follow {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
    line-height: 1.375;
    margin-bottom: 20px;
}

#footer-container .col #follow-input {
    display: flex;
    align-items: center;
}

#footer-container .col #follow-input input {
    padding: 12px;
    border-width: 1px;
    border-color: rgb(245, 188, 47);
    border-style: solid;
    width: 210px;
}

#footer-container .col #follow-input input::placeholder {
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgba(32, 29, 35, 0.639);
}

#footer-container .col #follow-input .action.b {
    background-color: rgb(255, 174, 0);
    padding: 10px 25px;
    font-size: 18px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    font-size: 16px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(22, 19, 38);
    line-height: 1.375;
}

#thanks {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    right: 5%;
}

#form .mistake, #form .mistake-action {
    color: red;
    font-size: 18px;
    display: none;
}

#form .mistake.t {
    top: 31px;
    position: relative;
    z-index: -1;
}

.col .mistake-footer {
    color: red;
    font-size: 18px;
    display: none;
}

#form .mistake-b {
    color: red;
    font-size: 18px;
    display: none;
}

#about .content-text.s {
    display: none;
}

#form .more-action.active span {
    margin-left: 194px;
}

.header #burger svg {
    width: 50px;
    height: 50px;
}


.header #burger {
    display: none;
}

.header #menu svg {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header #menu {
    position: relative;
    top: 3px;
}

.header #header-icon {
    display: none;
    align-items: center;
    justify-content: center;
}

.header #menu #header-icon .icon-item {
    margin-right: 30px;
    margin-top: 25px;
    position: relative;
    top: 0;
    left: 0;
}

.header #menu #header-icon .icon-item svg {
    width: 30px;
    height: 30px;
}


.header #menu #header-icon svg:last-child {
    margin-right: 0;
}

.slick-track {
    justify-content: center;
}

#close-block {
    display: none;
}

.useful-numbers .number, .useful-numbers .number .slick-slide, #six {
    margin-right: 15px;
    font-size: 22px;
    font-family: "Cormorant-Regular", sans-serif;
    justify-content: center !important;
    color: rgb(148, 181, 194);
    width: 30px !important;
    height: 43px !important;
}

.useful-numbers.slick-initialized.slick-slider {
    position: relative;
    width: 100px;
}

#six {
    position: absolute;
    top: 0;
    left: 55%;
}

.number.slick-slide.slick-cloned.slick-center, .number.slick-slide.slick-cloned, .slick-slide.slick-cloned.slick-active, .slick-slide.slick-cloned {
    display: none;
}

.useful .slick-prev, .useful .slick-next {
    z-index: 500;
    top: 635px;
}

/*.useful .slick-next.slick-arrow, .slick-prev.slick-arrow{
    right: 100px;
}
.useful .slick-next.slick-arrow, .slick-prev.slick-arrow{
    right: 137px;
}*/
.useful .useful-numbers .slick-slide.slick-current.slick-center {
    font-size: 36px;
    font-family: "Cormorant-Bold", sans-serif;
    color: rgb(148, 181, 194);
    display: block;
    top: -14px;
    position: relative;
    left: -25px;
    width: 50px !important;
}

.useful .useful-numbers .number.slick-slide {
    display: none;
}

#useful-container-numbers {
    position: relative;
    top: 5px;
}

.useful {
    display: block;
}

.useful.s {
    display: none;
}

#advantage .advantage-item-image .blue:last-child {
    top: 78px;
    right: 333px;
}

#soft, #bed, #furnit, #table, #decor {
    display: none;
}


#advantage .title {
    margin-bottom: 30px;
}

.clients .text-bold {
    line-height: 0.958;
}

.client-img {
    margin-right: 5px;
}

.useful .action:active {
    background: none;
}

.useful .action:hover {
    cursor: auto;
}

.useful .action .more-action:hover, .useful .action .more-action.active:hover {
    cursor: pointer;
}

#forma {
    box-sizing: border-box;
}

.more-action.active {
    display: none;
}

#form-content #forma .more-action.active {
    display: none;
}

#forma, #form-content #forma #action-check {
    width: 472px;
}

#footer-img a {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#footer-img a:last-child {
    margin-right: 0;
}




#all .product-content .product.s {
    box-sizing: content-box;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}

#all .product-content .product.s img:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
    width: auto;
}

#all .product-content .product.s img {
    width: 435px;
}

.slick-initialized .slick-slide {
    transition: none !important;
}


.product.slick-slide.slick-current.slick-active {
    opacity: 1;
    position: relative;
    margin-bottom: 60px;
}

#all .product-content .product.d {
    height: auto;
}

#footer-container .col .thanks {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Cormorant-Medium", sans-serif;
    color: rgb(203, 149, 17);
    display: none;
}

#footer-img {
    display: flex;
    align-items: center;
}

#says .layer.f #hide {
    top: 0;
    margin-left: 0;
}

.client-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#burger-menu {
    display: none;
}
